body,
input,
button {
  font-family: "Sofia Sans", sans-serif;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
.container {
  width: 1200px;
  padding: 0;
  margin: 0 calc((100vw - var(--container-width)) / 2);
}
.row.no-gutters .col-xxl-2 {
  flex-basis: 23.2%;
  max-width: 23.2%;
}
.row.no-gutters .col-xxl-10 {
  flex-basis: 76.8%;
  max-width: 76.8%;
}
.times-mobile {
  display: none;
}

.fa-solid.fa-bars.icon-menu {
  display: none;
}

.aside {
  padding: 54px 0px 62px 50px;
}

.aside-heading--lv2 {
  color: $primaryColor;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 800;
}
.aside__list {
  margin-top: 60px;
}

.aside__list__link {
  margin-top: 48px;
}
.aside__items__link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.aside__items__text {
  color: $primaryColor;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}
.aside__items {
  &:hover {
    opacity: 0.6;
  }
}
.aside__items + .aside__items {
  margin-top: 29px;
}
.aside__support {
  cursor: pointer;
  margin-top: 330px;
  display: flex;
  align-items: center;
  gap: 17px;
}
.aside__support {
  position: sticky;
  bottom: 59px;
}

// header

.header {
  padding-top: 40px;
  height: 128px;
}
.form-group,
.nav-bar__list,
.nav-bar__actions,
.nav-bar {
  display: flex;
  align-items: center;
}
.input__search {
  outline: none;
  border: none;
  display: block;
  padding-left: 18px;
}
.input__search::placeholder {
  font-size: 1.8rem;
  font-weight: 600;
  background: #fff;
  opacity: 0.2;
}
.nav-bar__list {
  margin-left: auto;
}
.nav-bar__items {
  padding: 10px 23px 10px 23px;
}

.nav-bar__link {
  position: relative;
  display: inline-block;
  color: $primaryColor;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  padding-bottom: 4px;
}
.nav-bar__link::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: $primaryColor;
  transition: width 0.25s linear;
}
.nav-bar__items--action .nav-bar__link::before,
.nav-bar__items:hover .nav-bar__link::before {
  width: 100%;
}
.nav-bar__actions {
  margin-left: 27px;
}
.nav-bar__actions {
  gap: 26px;
}

// main

.main__img {
  display: block;
  width: 100%;
  height: 188px;
  object-fit: cover;
  border-radius: 16px;
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
}
.row-mt {
  margin-top: $rowGap;
}

.main .main-col-bottom {
  @include myPadding(bottom);
  flex-basis: 0px;
  height: 50%;
}
.main .main-col-top {
  @include myPadding(top);
  flex-basis: 0px;
  height: 50%;
}

.main__img--w3,
.main__img--w4,
.main__img--w5,
.main__img--w6 {
  height: 400px;
}
.main__row {
  height: 100%;
}

.main__items-img {
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  &:hover img {
    transform: scale(1.5);
  }
}
