@media screen and (max-width: 575px) {
  .aside__list__link {
    height: 200px;
    flex-wrap: nowrap;
    overflow: auto;
    height: 200px;

    .aside__items {
      flex-shrink: 0;
      flex-basis: 100%;
      border: none;
    }
  }
  // header
  .header {
    width: 60%;
  }
  //   main
  .main__img {
    height: 188px;
  }
  .row-gap-mobile {
    gap: $rowGap;
  }
  .aside__items__text {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .aside__items {
    &:hover {
      background-color: transparent;
      opacity: 0.6;
    }
  }
}
