@media screen and (max-width: 991px) {
  .container {
    width: auto;
    margin: 0 25px;
  }

  .aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .aside__support {
    position: static;
    margin: 0;
    align-items: center;
  }
  .aside__list {
    width: 100%;
    margin-top: 30px;
    order: 1;
  }
  .aside-heading--lv2 {
    text-align: center;
  }
  .aside__list__link {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
  }
  .aside__items + .aside__items {
    margin-top: 0;
  }
  .aside__items {
    padding: 5px;
    border-radius: 999px;
    border: 1px solid #8b828283;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% / 4) - 20px);
    flex-shrink: 0;

    &:hover {
      opacity: 0.6;
    }
  }

  .fa-solid.fa-bars.icon-menu {
    display: block;
    font-size: 2.5rem;
  }
}
