@media screen and (max-width: 991px) {
  .container {
    width: auto;
    margin: 0 25px;
  }

  .aside {
    display: flex;
  }
  .aside__support {
    position: static;
  }
  .aside__list {
    order: 1;
  }
}
